<footer class="footer">
    <span class="footer__copyright">Proudly published with <a href="http://ghost.org" title="link to Ghost website">Ghost</a>, Using <a href="https://github.com/kimen929/kevino">Kevino</a> theme by <a href="https://github.com/kimen929">kimen929</a></span>
    <span class="footer__copyright">This site is Licensed under  <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img src='/assets/images/cc/by-nc.s.png' alt='Attribution License' height='12'></a> </span>
    <span class="footer__copyright">&copy; {{date format="YYYY"}}. All rights reserved.</span>
</footer>
