<nav class="cover-navigation navigation--social">
  <ul class="navigation">


  <!-- Github -->
  <li class="navigation__item">
    <a href="https://github.com/kimen929" title="@onevcat 的 Github" target="_blank">
      <i class='social fa fa-github'></i>
      <span class="label">Github</span>
    </a>
  </li>

  <!-- Facebook -->
  <li class="navigation__item">
    <a href="http://facebook.com/kimen929" title="kimen929 的facebook" target="_blank">
      <i class='social fa fa-facebook'></i>
      <span class="label">Facebook</span>
    </a>
  </li>
  
  <!-- Email -->
  <li class="navigation__item">
    <a href="mailto:kimen929@gmail.com" title="邮件联系我">
      <i class='social fa fa-envelope'></i>
      <span class="label">Email</span>
    </a>
  </li>

  </ul>
</nav>
